<%- include("template/header", {tituloWeb: 'Detalle Mascota'}) %>
    <div class="container">
        <h1>Detalle Mascota</h1>
        <% if (error) { %>
         <p>
             <%= mensaje %> 
         </p>
         <a href="/mascotas" class="btn btn-dark btn-block">Volver a Mascotas</a>
        <% } %>
        <% if (!error) { %>
            <img src="../uploads/<%= mascota.imagen  %>" width="450px">
            <form id="formularioEditar"  data-id="<%= mascota.id  %>">
                <input 
                    type="text"
                    value="<%= mascota.nombre %> "
                    class="form-control my-2"
                    name="nombre"
                    id="nombreInput"
                >
                <input 
                    type="text"
                    value="<%= mascota.descripcion %> "
                    class="form-control my-2"
                    name="descripcion"
                    id="descripcionInput"
                >
                <button
                    class="btn btn-warning btn-block"
                    type="submit"
                >
                    Editar
                </button>
            </form>  
            <hr>
            <button 
                class="btn btn-danger btn-block" 
                id="btnEliminar" 
                data-id="<%= mascota.id  %>">
                    Eliminar
            </button>
        <% } %>
    </div>

    
<%- include("template/footer") %>

<script>
    const btnEliminar = document.querySelector('#btnEliminar');
    btnEliminar.addEventListener('click', async() => {
        
        const id = btnEliminar.dataset.id;
        
        try {
            const data = await fetch(`/mascotas/${id}`, {
                method: 'delete'
            }) //Url de donde vamos a eliminar ese item
            const res = await data.json()

            if(res.estado){
                window.location.href = '/mascotas'
            }else{
                console.log(res)
            }
        } catch (error) {
            console.log(error);
        }
    })

    const formularioEditar = document.querySelector('#formularioEditar');
    formularioEditar.addEventListener('submit', async(e) => {
        e.preventDefault(); //Para que no se envie la solicitud
        const nombre = formularioEditar.elements['nombre'].value;
        const descripcion = document.querySelector('#descripcionInput').value
        const id = formularioEditar.dataset.id;
        try {
            const data = await fetch(`/mascotas/${id}`, {
                method: 'put',
                headers:{
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    nombre,
                    descripcion
                })
            });
            
            const res = await data.json();
            if(res.estado){
                window.location.href = '/mascotas'
            }else{
                console.log(res)
            }
            
        } catch (error) {
            console.log(error);
        }
    })
</script>